@import "../css/variables.module";

.excalidraw {
  .custom-data-input {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    font-size: 0.875rem;
    background-color: transparent;
    color: var(--text-primary-color);
    border: 0;
    outline: none;
    height: var(--default-button-size);
    border: 1px solid var(--default-border-color);
    // border-left: 0;
    letter-spacing: 0.4px;

    :root[dir="ltr"] & {
      border-radius: var(--border-radius-lg);
    }

    :root[dir="rtl"] & {
      border-radius: var(--border-radius-lg);
      border-left: 1px solid var(--default-border-color);
      // border-right: 0;
    }

    padding: 0.5rem;
    padding-left: 0.25rem;
    appearance: none;

    &:focus-visible {
      box-shadow: none;
    }
  }

}